.red{border:1px solid red}
.blue{border: 1px dashed blue}
.navbar-default{background-color:#3C3E4D;min-height:80px;margin:0;border: none;border-radius:unset;}
nav .btn{;color:#fff;border:1px solid gray;border-radius:unset;min-width:100px;margin-top:20px;margin-left:20px;font-size:20px;font-family: 'Open Sans', sans-serif;
}
center .btn:hover{background-color:#4C4F5F;color:#fff;}
.conquer{text-align: center;padding-top:10%;min-height:550px;background-image: url(../images/bg-1.jpg);background-size: cover;background-position: center;}
.conquer h1{color:#fff;font-weight:500;font-size:5em;text-shadow:2px 2px #08090a;}
.conquer p{color:#fff;font-size:2em;}
figcaption{padding-left: 10px;background-color:#F2F2F2;}
.wholecol{margin-top:30px;}
.firstrow{padding-bottom:30px;}
.one .btn{width:200px;text-align: center;background-color:#009330;color:#fff;margin-left:50px;font-size:1.5em}
.bootstrap{color:#009330;}
.item{ background-color: #F2F2F2;}
.item img{width:100%}
.cont{padding: 0 10px 0 10px;}
.responsive{color:#337DBF}
.two .btn{width:200px;text-align: center;background-color:#337DBF;color:#fff;margin-left:50px;font-size:1.5em}
.three .btn{width:200px;text-align: center;background-color:#337DBF;color:#fff;margin-left:50px;font-size:1.5em}
.images img{max-width:100%}
.bgcolor{background-color:#F2F2F2;}
.bgcolor h2{text-align: center;font-weight: 600;font-size:1.5em}
.bgcolor p{line-height:1.5;letter-spacing:0.1rem;padding-left:20px;padding-right:20px;}
.bgcolor .btn{background-color: #fff;border:1px solid grey;width:125px;margin-left:360px;}
.bgcolor a {color:grey;font-size: 20px;text-align: center;}
.services{background-image:url(../images/bg-2.jpg);background-size:cover;min-height: 350px;margin-top:30px}
.services .textservices{text-align: center;padding-top:8%;color:#fff;}
.services h2{color:#fff;font-weight:500;font-size:3em;text-shadow:2px 2px #08090a;}
.services p{font-size:1.5em}
.columns{background-color:#f2f2f2;min-height: 456px;margin-top:15px}
.columns h3{text-align: center;}
.columnstext{padding-right:10px;padding-left: 10px;padding-bottom: 15px;}
.columns img{max-width:100%}
.columnstext .btn{border:1px solid gray;background-color:#fff;width:110px}
.columnstext a {color: #9d9d9d;font-size:1.2em}
.columnstext a:hover{background-color: #f2f2f2;color:#9d9d9d}
