.navbar-default{background-color:#3C3E4D;min-height:80px;}
nav .btn{;color:#fff;border:1px solid gray;border-radius:unset;min-width:100px;margin-top:20px;margin-left:20px;font-size:20px;font-family: 'Open Sans', sans-serif;
}
.btn:hover{background-color:#4C4F5F;color:#fff;}
