.red{border:1px solid red}
.blue{border: 1px dashed blue}
.navbar-default{background-color:#3C3E4D;min-height:80px;margin:0;border: none;border-radius:unset;}
nav .btn{;color:#fff;border:1px solid gray;border-radius:unset;min-width:100px;margin-top:20px;margin-left:20px;font-size:20px;font-family: 'Open Sans', sans-serif;
}
center .btn:hover{background-color:#4C4F5F;color:#fff;}
.conquer{text-align: center;padding-top:10%;min-height:550px;background-image: url(../images/bg-1.jpg);background-size: cover;background-position: center;}
.conquer h1{color:#fff;font-weight:500;font-size:5em;text-shadow:2px 2px #08090a;}
.conquer p{color:#fff;font-size:2em;}
figcaption{padding-left: 10px;background-color:#F2F2F2;}
.wholecol{margin-top:30px;}
.firstrow{padding-bottom:30px;}
.one .btn{width:200px;text-align: center;background-color:#009330;color:#fff;margin-left:50px;font-size:1.5em}
.bootstrap{color:#009330;}
.item{ background-color: #F2F2F2;}
.item img{width:100%}
.cont{padding: 0 10px 0 10px;}
.responsive{color:#337DBF}
.two .btn{width:200px;text-align: center;background-color:#337DBF;color:#fff;margin-left:50px;font-size:1.5em}
.three .btn{width:200px;text-align: center;background-color:#337DBF;color:#fff;margin-left:50px;font-size:1.5em}
